*,
*:before,
*:after {
  box-sizing: border-box;
}

/*
  ================================
  UTILITY
  ================================
*/
.clear::after {
  content: " ";
  display: table;
  clear: both;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Noto serif", serif;
  font-weight: normal;
}

/*
  ================================
  HEADER
  ================================
*/

.upper-header,
.middle-header,
.bottom-header {
  text-transform: uppercase;
}


/*
  ================================
  UPPER-HEADER
  ================================
*/

.upper-header {
  text-align: center;
  background-color: orange;
  padding: 2px 0px;
}

.upper-header * {
  display: inline-block;
  color: white;
  font-size: 15px;
}

.header-wrap {
  margin-left: 30px;
}

.upper-header .header-wrap > *, .upper-header .header-wrap li {
    margin-right: 16px;
}

.upper-header p {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  letter-spacing: 1.2px;
}

.upper-header ul {
  padding: 0;
}

/*
  ================================
  MIDDLE-HEADER
  ================================
*/

.middle-header {
  width: 960px;
  margin: 55px auto;
  font-family: "Noto Serif", serif;
  font-weight: 100;
  position: relative;
}

.middle-header address, .middle-header h1{
  display: inline-block;
  width: 33.3333%;
  float: left;
  vertical-align: top;
  font-style: normal;
}


.middle-header h1 {
  text-align: center;
  margin: 0 auto;
  position: relative;
  bottom: 10px;
  font-size: 1.7em;
}

.middle-header form {
  /* position: relative;
  left: 6%; */
  float: right;
}

.middle-header, .bottom-header {
  color: rgba(44, 62, 80, .7);
}

.middle-header form input {
  width: 150px;
  padding: 6px;
  border: 1px solid rgba(189, 195, 199,1.0);
}
.middle-header form button {
  padding: 7px 10px;
  background: orange;
  border: none;
  color: white;
}





/*
  ================================
  BOTTOM-HEADER
  ================================
*/

.bottom-header ul {
  list-style: none;
}
#current-page {
  color: orange;
}

.bottom-header {
  width: 960px;
  margin: 25px auto;
}

.bottom-header a {
  color: rgba(44, 62, 80, .7);
  text-decoration: none;
}
.bottom-header a:hover {
  transition: color 0.5s;
  color: orange;
}

.bottom-header a:active {
  color: orange;
}

.bottom-header>ul>li {
  display: inline-block;
  padding: 25px 15px;
  position: relative;
}

.bottom-header>ul {
  position: relative;
  padding: 0;
  text-align: center;
  border-top: 1px solid rgba(189, 195, 199,1.0);
  border-bottom: 1px solid rgba(189, 195, 199,1.0);
}

.bottom-header i {
  padding-right: 5px;
}




.dropdown {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  display: none;
  z-index: 4;
  left: 0;
  background-color: rgba(0,0,0, 0.3);
  min-width: 200px;
  padding-left: 0;
}

.dropdown a {
  color: white;
}

.dropdown li:hover {
  background: orange;

}

.dropdown li:hover a {
  color: white;
}

.dropdown li {
  float: left;
  display: block;
  width: 100%;
  clear: both;
  min-height: 2em;
  padding-top: 10px;
}

.bottom-header>ul li:hover .dropdown {
  visibility: visible;
  opacity: 1;
  display: block;
}













/*
  ================================
  HERO
  ================================
*/
.hero {
  background: center / cover no-repeat url("assets/sky.jpg");
  width: 100%;
  height: 700px;
  position: relative;
  margin-top: 50px;
}

.hero>section{
  background-color: rgb(255, 255, 255); /* for ie6 support */
  background-color: rgba(255, 255, 255, 0.7);
  width: 33%;
  height: 33%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/*
  ================================
  INTRO TO CONTENT
  ================================
*/

.content>div {
  width: 960px;
  margin: 0 auto;
}

.content>div>header {
  text-align: center;
  padding: 60px;
}

.content {
  margin-bottom: 100px;
}

.intro-row > * {
  display: inline-block;
}


.intro-row img {
  float: left;
  width: 49%;
  padding: 20px;
  border: 1px solid #4C5250;
}

.intro-blocks {
 width: 50%;
 padding-left: 40px;
}

.intro-blocks > div {
  display: inline-block;
  width: 50%;
}

/*
  ================================
  FEATURES
  ================================
*/

.features-boxes > * {
  display: inline-block;
  width: 33%;
  text-align: center;
  margin-bottom: 50px;
  color: #4C5250;
}

.features-boxes a {
  color: #4C5250;
  text-decoration: none;
}

.features-boxes i {
  font-size: 3em;
}

.features button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 120px;
}




/*
  ================================
  GALLERY IMAGES
  ================================
*/

.gallery-imgaes {
  margin: 0 auto;
}
.gallery-images > * {
  display: inline-block;
  width: 33%;
}
.gallery-images img{
  width: 101%;
  padding: 5%;
}

/*
  ================================
  CITATIONS
  ================================
*/
blockquote {
  text-align: center;
}

blockquote > p {
  background: white;
}

blockquote div img {
  width: 100px;
  max-height: 100px;
}

blockquote div p {
  font-style: normal;
}

.citations button {
  width: 300px;
  margin: 0 auto;
  display: block;
}






/*
  ================================
  ARTICLE-CARDS
  ================================
*/
.article-cards > article {
  display: inline-block;
  width: 45%;

}

.article-cards > article h5, .article-cards > article p {
  text-align: center;
}

.article-cards > article > a img {
  width: 100%;
  height: 300px;
}

.article-cards + button {
  display: block;
  margin: 0 auto;
}

.article-footer {
  width: 100%;
}

.article-footer ul li {
  display: inline-block;
}

.article-footer ul li:last-child {
  float: right;
}

.article-cards article:first-child {
  float: left;
}


.article-cards article:last-child {
  float: right;
}

/*
  ================================
  INVINTATION
  ================================
*/

.invintation > h3 {
  float: left;
  margin: 0;

}

.invintation button {
  float:  right;
  margin-top: 5px;
}



/*
  ================================
  FOOTER
  ================================
*/

footer {
  width: 960px;
  margin: 0 auto;
}

footer > section > div {
  width: 25%;
  float: left;
  display: inline-block;
  padding: 1%;
}

footer > div > * {
  display: inline-block;
}

footer > div > p:last-child {
  float: right;
}

.footer-address, .footer-address ul {
  list-style: none;
}

.footer-address>li:nth-child(-n+3){
  padding-left: 20px;
}
.footer-address>li:nth-child(1){
  background: url(https://use.fontawesome.com/releases/v5.0.13/svgs/solid/map-marker-alt.svg) no-repeat;
}

.footer-address>li:nth-child(2){
  background: url(https://use.fontawesome.com/releases/v5.0.13/svgs/solid/phone.svg) no-repeat;
}

.footer-address>li:nth-child(3){
  background: url(https://use.fontawesome.com/releases/v5.0.13/svgs/regular/envelope.svg) no-repeat;
}
